.container {
    display: inline-grid;
    margin-left: 40%;
    margin-top: 25px;
    text-align: center;
}

.container label {
    margin-top: 10px;
}

.btn-lg {
    width: 80%;
    margin-top: 10px;
    margin-left: 11%;
}