<div class="container">
    <div>
        <b>This application has two components</b>
        <p>1. View Users: This component list all the users</p>
        <p>2. Add User: This contains a form field to enter the user name</p>
    </div>
    <div>
        <b>What do you need to do:</b>
        <ul>
            <li>
                1. Using the API "https://jsonplaceholder.typicode.com/users", fetch the users list and show their name,
                email and phone it in the List Users component
            </li>
            <li>
                2. Add routing for add-user component
            </li>
            <li>
                3. In Add User component,
                <ul>
                    <li>
                        Add validation for required and min length for the name form control
                    </li>
                    <li>
                        Display the form value as entered by the user in the html. The form value should be updated
                        simultaeneously.
                    </li>
                    <li>
                        Call a function on button click which will set value "John" in the form control
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>